dashboard/Solidario_Dashboard.json
{
  "name": "Solidario_Dashboard",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "dashboard",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e44d320e-6c0b-4ebc-88e5-39d2ec0ce777",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        460,
        460
      ],
      "webhookId": "09819cd6-5f5c-4cd5-a0ea-73595eb5bc32"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe9a42f5-b2fb-4ba7-99d9-05d045d65609",
              "name": "html",
              "value": "<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Solidario BI | Analytics & Auditoría</title>\n  \n  <!-- Modern Google Fonts -->\n  <link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n  <link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n  <link href=\"https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&family=Inter:wght@400;500;600&display=swap\" rel=\"stylesheet\">\n  \n  <!-- Supabase -->\n  <script src=\"https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2\"></script>\n  <!-- Chart.js -->\n  <script src=\"https://cdn.jsdelivr.net/npm/chart.js\"></script>\n  <!-- Flatpickr Date Picker -->\n  <link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css\">\n  <script src=\"https://cdn.jsdelivr.net/npm/flatpickr\"></script>\n  \n  <style>\n    /* =========================================================\n       CSS VARIABLES & THEME\n       ========================================================= */\n    :root {\n      --bg-dark: #0A0C14;\n      --bg-gradient: radial-gradient(circle at 15% 50%, #064E3B, #0A0C14 70%);\n      \n      --primary: #14B8A6;\n      --primary-hover: #0D9488;\n      --accent: #2DD4BF;\n      --secondary: #34D399;\n      \n      --surface: rgba(255, 255, 255, 0.04);\n      --surface-hover: rgba(255, 255, 255, 0.08);\n      --border: rgba(255, 255, 255, 0.1);\n      --border-focus: rgba(20, 184, 166, 0.5);\n      \n      --text: #F8FAFC;\n      --text-muted: #94A3B8;\n      \n      --font-display: 'Outfit', sans-serif;\n      --font-body: 'Inter', sans-serif;\n    }\n\n    * {\n      box-sizing: border-box;\n      margin: 0;\n      padding: 0;\n    }\n\n    body {\n      background: var(--bg-dark);\n      background-image: var(--bg-gradient);\n      background-attachment: fixed;\n      color: var(--text);\n      font-family: var(--font-body);\n      min-height: 100vh;\n      overflow-x: hidden;\n      line-height: 1.6;\n    }\n\n    /* Ambient Glow Effects */\n    body::before, body::after {\n      content: '';\n      position: fixed;\n      border-radius: 50%;\n      filter: blur(120px);\n      z-index: -1;\n      opacity: 0.4;\n      pointer-events: none;\n    }\n    body::before {\n      top: -10%; left: -10%;\n      width: 50vw; height: 50vw;\n      background: rgba(20, 184, 166, 0.15);\n    }\n    body::after {\n      bottom: -10%; right: -10%;\n      width: 40vw; height: 40vw;\n      background: rgba(0, 229, 255, 0.1);\n    }\n\n    /* =========================================================\n       LAYOUT & NAVIGATION\n       ========================================================= */\n    .header {\n      background: rgba(10, 12, 20, 0.8);\n      backdrop-filter: blur(16px);\n      -webkit-backdrop-filter: blur(16px);\n      border-bottom: 1px solid var(--border);\n      padding: 1rem 3rem;\n      position: sticky;\n      top: 0;\n      z-index: 100;\n      display: flex;\n      justify-content: space-between;\n      align-items: center;\n    }\n\n    .brand {\n      font-family: var(--font-display);\n      font-size: 1.5rem;\n      font-weight: 700;\n      letter-spacing: -0.5px;\n      display: flex;\n      align-items: center;\n      gap: 0.5rem;\n    }\n    .brand span {\n      background: linear-gradient(90deg, var(--accent), var(--primary));\n      -webkit-background-clip: text;\n      -webkit-text-fill-color: transparent;\n    }\n\n    .tabs {\n      display: flex;\n      gap: 0.5rem;\n      background: rgba(255,255,255,0.03);\n      padding: 0.4rem;\n      border-radius: 12px;\n      border: 1px solid var(--border);\n    }\n    .tab-btn {\n      background: transparent;\n      color: var(--text-muted);\n      border: none;\n      padding: 0.6rem 1.5rem;\n      font-family: var(--font-display);\n      font-weight: 500;\n      font-size: 1rem;\n      border-radius: 8px;\n      cursor: pointer;\n      transition: all 0.3s ease;\n    }\n    .tab-btn:hover {\n      color: var(--text);\n      background: var(--surface-hover);\n    }\n    .tab-btn.active {\n      background: var(--primary);\n      color: white;\n      box-shadow: 0 0 15px rgba(20, 184, 166, 0.4);\n    }\n\n    .container {\n      max-width: 1600px;\n      margin: 2rem auto;\n      padding: 0 2rem;\n    }\n\n    .tab-content {\n      display: none;\n      animation: slideUp 0.4s ease forwards;\n    }\n    .tab-content.active {\n      display: block;\n    }\n\n    @keyframes slideUp {\n      from { opacity: 0; transform: translateY(15px); }\n      to { opacity: 1; transform: translateY(0); }\n    }\n\n    /* =========================================================\n       GLASSMORPHISM CARDS\n       ========================================================= */\n    .glass-card {\n      background: var(--surface);\n      backdrop-filter: blur(12px);\n      -webkit-backdrop-filter: blur(12px);\n      border: 1px solid var(--border);\n      border-radius: 16px;\n      padding: 1.5rem;\n      box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);\n      transition: transform 0.3s ease, border-color 0.3s ease;\n      position: relative;\n      overflow: hidden;\n    }\n    .glass-card::before {\n      content: '';\n      position: absolute;\n      top: 0; left: 0; width: 100%; height: 2px;\n      background: linear-gradient(90deg, transparent, var(--primary), transparent);\n      opacity: 0;\n      transition: opacity 0.3s ease;\n    }\n    .glass-card:hover {\n      transform: translateY(-4px);\n      border-color: rgba(255,255,255,0.2);\n    }\n    .glass-card:hover::before {\n      opacity: 1;\n    }\n\n    /* =========================================================\n       METRICS TAB\n       ========================================================= */\n    .kpi-grid {\n      display: grid;\n      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));\n      gap: 1.5rem;\n      margin-bottom: 2rem;\n    }\n    .kpi-title {\n      font-family: var(--font-display);\n      font-size: 0.875rem;\n      color: var(--text-muted);\n      text-transform: uppercase;\n      letter-spacing: 1px;\n      margin-bottom: 0.5rem;\n    }\n    .kpi-value {\n      font-family: var(--font-display);\n      font-size: 2.5rem;\n      font-weight: 700;\n      background: linear-gradient(135deg, #fff, #a5b4fc);\n      -webkit-background-clip: text;\n      -webkit-text-fill-color: transparent;\n    }\n\n    .charts-grid {\n      display: grid;\n      grid-template-columns: 2fr 1fr;\n      gap: 1.5rem;\n    }\n    .chart-wrapper {\n      height: 400px;\n      position: relative;\n    }\n\n    /* =========================================================\n       CALLS TAB & TABLE\n       ========================================================= */\n    .filters-bar {\n      display: flex;\n      flex-wrap: wrap;\n      gap: 1rem;\n      margin-bottom: 1.5rem;\n      background: var(--surface);\n      padding: 1rem;\n      border-radius: 12px;\n      border: 1px solid var(--border);\n    }\n\n    input, select {\n      background: rgba(0, 0, 0, 0.2);\n      border: 1px solid var(--border);\n      color: var(--text);\n      padding: 0.6rem 1rem;\n      border-radius: 8px;\n      font-family: var(--font-body);\n      font-size: 0.9rem;\n      outline: none;\n      transition: all 0.3s ease;\n    }\n    input:focus, select:focus {\n      border-color: var(--accent);\n      box-shadow: 0 0 0 2px rgba(0, 229, 255, 0.2);\n    }\n    input::placeholder { color: var(--text-muted); }\n\n    .btn {\n      background: linear-gradient(135deg, var(--primary), #5B21B6);\n      color: white;\n      border: none;\n      padding: 0.6rem 1.5rem;\n      border-radius: 8px;\n      font-family: var(--font-display);\n      font-weight: 600;\n      cursor: pointer;\n      transition: all 0.3s ease;\n      display: inline-flex;\n      align-items: center;\n      gap: 0.5rem;\n    }\n    .btn:hover {\n      box-shadow: 0 4px 15px rgba(138, 43, 226, 0.4);\n      transform: translateY(-1px);\n    }\n\n    .table-container {\n      overflow-x: auto;\n      border-radius: 12px;\n      border: 1px solid var(--border);\n      background: var(--surface);\n      backdrop-filter: blur(12px);\n    }\n    table {\n      width: 100%;\n      border-collapse: collapse;\n      text-align: left;\n    }\n    th {\n      background: rgba(0,0,0,0.4);\n      padding: 1.2rem 1rem;\n      font-family: var(--font-display);\n      font-weight: 600;\n      color: var(--text-muted);\n      text-transform: uppercase;\n      font-size: 0.75rem;\n      letter-spacing: 0.5px;\n      white-space: nowrap;\n    }\n    td {\n      padding: 1rem;\n      border-bottom: 1px solid rgba(255,255,255,0.05);\n      font-size: 0.9rem;\n      white-space: nowrap;\n    }\n    tbody tr {\n      transition: background 0.2s ease;\n      cursor: pointer;\n    }\n    tbody tr:hover {\n      background: var(--surface-hover);\n    }\n\n    .badge {\n      padding: 0.3rem 0.8rem;\n      border-radius: 20px;\n      font-size: 0.75rem;\n      font-weight: 600;\n      text-transform: uppercase;\n      letter-spacing: 0.5px;\n    }\n    .badge.success { background: rgba(16, 185, 129, 0.2); color: #34D399; border: 1px solid rgba(16, 185, 129, 0.3); }\n    .badge.warning { background: rgba(245, 158, 11, 0.2); color: #FCD34D; border: 1px solid rgba(245, 158, 11, 0.3); }\n    .badge.danger { background: rgba(239, 68, 68, 0.2); color: #FCA5A5; border: 1px solid rgba(239, 68, 68, 0.3); }\n    .badge.neutral { background: rgba(148, 163, 184, 0.2); color: #CBD5E1; border: 1px solid rgba(148, 163, 184, 0.3); }\n\n    .pagination {\n      display: flex;\n      gap: 0.5rem;\n      justify-content: center;\n      margin-top: 1.5rem;\n    }\n    .page-btn {\n      background: var(--surface);\n      border: 1px solid var(--border);\n      color: var(--text);\n      width: 36px; height: 36px;\n      border-radius: 8px;\n      display: flex; align-items: center; justify-content: center;\n      cursor: pointer;\n      transition: all 0.2s;\n    }\n    .page-btn.active {\n      background: var(--primary);\n      border-color: var(--primary);\n    }\n    .page-btn:hover:not(.active) {\n      background: var(--surface-hover);\n    }\n\n    /* =========================================================\n       MODAL / AUDITORIA\n       ========================================================= */\n    .modal-overlay {\n      position: fixed;\n      top: 0; left: 0; width: 100vw; height: 100vh;\n      background: rgba(0, 0, 0, 0.6);\n      backdrop-filter: blur(8px);\n      display: flex;\n      justify-content: center;\n      align-items: center;\n      z-index: 1000;\n      opacity: 0;\n      pointer-events: none;\n      transition: opacity 0.3s ease;\n    }\n    .modal-overlay.active {\n      opacity: 1;\n      pointer-events: auto;\n    }\n    .modal-content {\n      background: #111424;\n      border: 1px solid var(--border);\n      border-radius: 20px;\n      width: 90%;\n      max-width: 900px;\n      max-height: 90vh;\n      overflow-y: auto;\n      transform: scale(0.95) translateY(20px);\n      transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);\n      box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);\n    }\n    .modal-overlay.active .modal-content {\n      transform: scale(1) translateY(0);\n    }\n    .modal-header {\n      padding: 1.5rem 2rem;\n      border-bottom: 1px solid var(--border);\n      display: flex;\n      justify-content: space-between;\n      align-items: center;\n      position: sticky;\n      top: 0;\n      background: rgba(17, 20, 36, 0.95);\n      backdrop-filter: blur(10px);\n      z-index: 10;\n    }\n    .modal-header h2 {\n      font-family: var(--font-display);\n      margin: 0;\n      font-size: 1.25rem;\n    }\n    .close-btn {\n      background: none;\n      border: none;\n      color: var(--text-muted);\n      font-size: 2rem;\n      line-height: 1;\n      cursor: pointer;\n      transition: color 0.2s;\n    }\n    .close-btn:hover { color: var(--secondary); }\n    \n    .modal-body {\n      padding: 2rem;\n    }\n\n    /* Modal Grid Layout */\n    .modal-grid {\n      display: grid;\n      grid-template-columns: 1fr 1fr;\n      gap: 2rem;\n    }\n    .modal-section {\n      background: rgba(255,255,255,0.02);\n      border-radius: 12px;\n      padding: 1.5rem;\n      border: 1px solid var(--border);\n    }\n    .modal-section h4 {\n      font-family: var(--font-display);\n      color: var(--accent);\n      margin-bottom: 1rem;\n      text-transform: uppercase;\n      font-size: 0.85rem;\n      letter-spacing: 1px;\n    }\n\n    .info-list {\n      list-style: none;\n      display: flex;\n      flex-direction: column;\n      gap: 0.8rem;\n    }\n    .info-list li {\n      display: flex;\n      justify-content: space-between;\n      border-bottom: 1px dashed rgba(255,255,255,0.1);\n      padding-bottom: 0.4rem;\n    }\n    .info-list span:first-child { color: var(--text-muted); }\n    .info-list span:last-child { font-weight: 500; text-align: right;}\n\n    /* Custom Audio Player */\n    .audio-container {\n      margin-bottom: 2rem;\n      padding: 1.5rem;\n      background: linear-gradient(135deg, rgba(138,43,226,0.1), rgba(0,229,255,0.05));\n      border-radius: 16px;\n      border: 1px solid rgba(138,43,226,0.2);\n    }\n    audio {\n      width: 100%;\n      height: 40px;\n      border-radius: 8px;\n      outline: none;\n    }\n    /* Invert colors for dark mode audio controls */\n    audio::-webkit-media-controls-panel { background: rgba(0,0,0,0.5); }\n    audio::-webkit-media-controls-play-button,\n    audio::-webkit-media-controls-mute-button { filter: invert(1); }\n    audio::-webkit-media-controls-current-time-display,\n    audio::-webkit-media-controls-time-remaining-display { color: white; }\n\n    /* Chat Transcript Bubbles */\n    .chat-transcript {\n      width: 100%;\n      height: 300px;\n      overflow-y: auto;\n      background: rgba(0,0,0,0.25);\n      border: 1px solid var(--border);\n      border-radius: 12px;\n      padding: 1.25rem;\n      display: flex;\n      flex-direction: column;\n      gap: 1rem;\n    }\n\n    .chat-bubble {\n      max-width: 82%;\n      padding: 0.85rem 1.1rem;\n      border-radius: 16px;\n      font-size: 0.88rem;\n      line-height: 1.6;\n      color: var(--text);\n      animation: bubbleFadeIn 0.3s ease forwards;\n      position: relative;\n    }\n    @keyframes bubbleFadeIn {\n      from { opacity: 0; transform: translateY(6px); }\n      to   { opacity: 1; transform: translateY(0); }\n    }\n\n    .chat-bubble.agent {\n      align-self: flex-start;\n      background: linear-gradient(135deg, rgba(20,184,166,0.25), rgba(45,212,191,0.12));\n      border: 1px solid rgba(20,184,166,0.3);\n      border-bottom-left-radius: 4px;\n    }\n    .chat-bubble.user {\n      align-self: flex-end;\n      background: rgba(255,255,255,0.07);\n      border: 1px solid rgba(255,255,255,0.12);\n      border-bottom-right-radius: 4px;\n    }\n\n    .chat-role {\n      display: flex;\n      align-items: center;\n      gap: 0.4rem;\n      font-family: var(--font-display);\n      font-weight: 600;\n      font-size: 0.75rem;\n      text-transform: uppercase;\n      letter-spacing: 0.5px;\n      margin-bottom: 0.4rem;\n    }\n    .chat-bubble.agent .chat-role { color: var(--accent); }\n    .chat-bubble.user  .chat-role { color: #94A3B8; }\n\n    .chat-role svg {\n      width: 14px;\n      height: 14px;\n      flex-shrink: 0;\n    }\n\n    .chat-bubble p {\n      margin: 0;\n      word-wrap: break-word;\n    }\n\n    .chat-empty {\n      text-align: center;\n      padding: 2.5rem 1rem;\n      color: var(--text-muted);\n      font-style: italic;\n    }\n\n    .loader {\n      display: inline-block;\n      width: 24px; height: 24px;\n      border: 3px solid rgba(255,255,255,0.3);\n      border-radius: 50%;\n      border-top-color: var(--accent);\n      animation: spin 1s ease-in-out infinite;\n    }\n    @keyframes spin { to { transform: rotate(360deg); } }\n    .loading-state {\n      text-align: center;\n      padding: 3rem;\n      color: var(--text-muted);\n    }\n\n    /* Scrollbar */\n    ::-webkit-scrollbar { width: 8px; height: 8px; }\n    ::-webkit-scrollbar-track { background: rgba(0,0,0,0.2); }\n    ::-webkit-scrollbar-thumb { background: rgba(255,255,255,0.1); border-radius: 4px; }\n    ::-webkit-scrollbar-thumb:hover { background: rgba(255,255,255,0.2); }\n  </style>\n</head>\n<body>\n\n  <!-- HEADER -->\n  <header class=\"header\">\n    <div class=\"brand\">\n      <svg width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"url(#grad)\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\">\n        <defs><linearGradient id=\"grad\" x1=\"0%\" y1=\"0%\" x2=\"100%\" y2=\"0%\"><stop offset=\"0%\" stop-color=\"#2DD4BF\"/><stop offset=\"100%\" stop-color=\"#14B8A6\"/></linearGradient></defs>\n        <path d=\"M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z\"></path>\n        <polyline points=\"3.27 6.96 12 12.01 20.73 6.96\"></polyline>\n        <line x1=\"12\" y1=\"22.08\" x2=\"12\" y2=\"12\"></line>\n      </svg>\n      <span>Solidario BI</span>\n    </div>\n    <div class=\"tabs\">\n      <button class=\"tab-btn active\" data-target=\"tab-metrics\">Métricas</button>\n      <button class=\"tab-btn\" data-target=\"tab-calls\">Auditoría de Llamadas</button>\n    </div>\n  </header>\n\n  <main class=\"container\">\n    \n    <!-- TAB: MÈTRICAS -->\n    <section id=\"tab-metrics\" class=\"tab-content active\">\n      <div class=\"filters-bar\">\n        <input type=\"text\" id=\"dash-date-from\" class=\"date-picker\" title=\"Fecha Desde\" placeholder=\"dd/mm/aaaa\" autocomplete=\"off\">\n        <input type=\"text\" id=\"dash-date-to\" class=\"date-picker\" title=\"Fecha Hasta\" placeholder=\"dd/mm/aaaa\" autocomplete=\"off\">\n        <button class=\"btn\" id=\"btn-refresh-dash\">\n          <svg width=\"18\" height=\"18\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\"><path d=\"M23 4v6h-6M1 20v-6h6\"/><path d=\"M3.51 9a9 9 0 0 1 14.85-3.36L23 10M1 14l4.64 4.36A9 9 0 0 0 20.49 15\"/></svg>\n          Actualizar\n        </button>\n      </div>\n\n      <div class=\"kpi-grid\">\n        <div class=\"glass-card\">\n          <div class=\"kpi-title\">Total Llamadas</div>\n          <div class=\"kpi-value\" id=\"kpi-total\">0</div>\n        </div>\n        <div class=\"glass-card\">\n          <div class=\"kpi-title\">% Aceptación Efectiva</div>\n          <div class=\"kpi-value\" id=\"kpi-aceptacion\">0%</div>\n        </div>\n        <div class=\"glass-card\">\n          <div class=\"kpi-title\">Monto Recuperado (Promesa)</div>\n          <div class=\"kpi-value\" id=\"kpi-monto\">$0</div>\n        </div>\n        <div class=\"glass-card\">\n          <div class=\"kpi-title\">Duración Promedio</div>\n          <div class=\"kpi-value\" id=\"kpi-duracion\">0s</div>\n        </div>\n      </div>\n\n      <div class=\"charts-grid\">\n        <div class=\"glass-card chart-wrapper\">\n          <canvas id=\"barChart\"></canvas>\n        </div>\n        <div class=\"glass-card chart-wrapper\">\n          <canvas id=\"pieChart\"></canvas>\n        </div>\n      </div>\n    </section>\n\n    <!-- TAB: LLAMADAS -->\n    <section id=\"tab-calls\" class=\"tab-content\">\n      <div class=\"filters-bar\">\n        <input type=\"text\" id=\"search-input\" placeholder=\"Buscar por Cédula, Nombre, Operación...\" style=\"flex: 1; min-width: 250px;\">\n        <input type=\"text\" id=\"table-date-from\" class=\"date-picker\" title=\"Fecha Desde\" placeholder=\"dd/mm/aaaa\" autocomplete=\"off\">\n        <input type=\"text\" id=\"table-date-to\" class=\"date-picker\" title=\"Fecha Hasta\" placeholder=\"dd/mm/aaaa\" autocomplete=\"off\">\n        <button class=\"btn\" id=\"btn-search\">Buscar</button>\n      </div>\n\n      <div class=\"table-container\">\n        <table id=\"calls-table\">\n          <thead>\n            <tr>\n              <th>ID Vapi</th>\n              <th>Operación</th>\n              <th>Cliente</th>\n              <th>Duración</th>\n              <th>Motivo</th>\n              <th>Sentimiento</th>\n              <th>Monto Promesa</th>\n              <th>Fecha</th>\n            </tr>\n          </thead>\n          <tbody>\n            <tr><td colspan=\"8\" class=\"loading-state\"><div class=\"loader\"></div><p>Cargando datos...</p></td></tr>\n          </tbody>\n        </table>\n      </div>\n      <div class=\"pagination\" id=\"pagination-controls\"></div>\n    </section>\n\n  </main>\n\n  <!-- MODAL AUDITORIA -->\n  <div class=\"modal-overlay\" id=\"audit-modal\">\n    <div class=\"modal-content\">\n      <div class=\"modal-header\">\n        <h2>Auditoría de Llamada</h2>\n        <button class=\"close-btn\" id=\"close-modal\">&times;</button>\n      </div>\n      <div class=\"modal-body\">\n        \n        <div class=\"audio-container\">\n          <h4 style=\"color:var(--accent); font-family:var(--font-display); margin-bottom:0.5rem;\">Timeline de Grabación</h4>\n          <audio id=\"modal-audio\" controls>\n            Tu navegador no soporta el reproductor de audio.\n          </audio>\n        </div>\n\n        <div class=\"modal-grid\">\n          <!-- Columna Izquierda -->\n          <div style=\"display: flex; flex-direction: column; gap: 2rem;\">\n            <div class=\"modal-section\">\n              <h4>Información de Contacto</h4>\n              <ul class=\"info-list\">\n                <li><span>Contacto Efectivo:</span> <span id=\"m-contacto\"></span></li>\n                <li><span>Familiar Contestó:</span> <span id=\"m-familiar\"></span></li>\n                <li><span>Aceptación:</span> <span class=\"badge\" id=\"m-aceptacion\"></span></li>\n              </ul>\n            </div>\n            <div class=\"modal-section\">\n              <h4>Resultados de la Gestión</h4>\n              <ul class=\"info-list\">\n                <li><span>Nomenclatura:</span> <span id=\"m-nomenclatura\"></span></li>\n                <li><span>Código de Respuesta:</span> <span id=\"m-codigo\"></span></li>\n                <li><span>Monto de Promesa:</span> <span id=\"m-monto\" style=\"color: #34D399; font-weight: 700;\"></span></li>\n                <li><span>Fecha de Promesa:</span> <span id=\"m-fechapromesa\"></span></li>\n              </ul>\n            </div>\n          </div>\n          \n          <!-- Columna Derecha -->\n          <div class=\"modal-section\" style=\"display:flex; flex-direction:column;\">\n            <h4>Transcripción Completa</h4>\n            <div class=\"chat-transcript\" id=\"m-transcript\"></div>\n          </div>\n        </div>\n      </div>\n    </div>\n  </div>\n\n  <script>\n    // ==========================================\n    // SUPABASE CONFIGURATION\n    // ==========================================\n    const SUPABASE_URL = 'https://suokpkpzpfvadwemxzfa.supabase.co';\n    const SUPABASE_ANON_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN1b2twa3B6cGZ2YWR3ZW14emZhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTkyNjM0ODgsImV4cCI6MjA3NDgzOTQ4OH0.bSMXRoVj_5vjIftDV1VcjauQQhYhK5AL7fz3VFln72A';\n    \n    const supabaseClient = window.supabase.createClient(SUPABASE_URL, SUPABASE_ANON_KEY);\n\n    // ==========================================\n    // STATE & UTILS\n    // ==========================================\n    let allCalls = [];\n    let filteredCalls = [];\n    let dashboardFilteredCalls = [];\n    const PAGE_SIZE = 10;\n    let currentPage = 1;\n\n    let barChartInstance = null;\n    let pieChartInstance = null;\n\n    // Config global Chart.js Dark Mode\n    Chart.defaults.color = '#94A3B8';\n    Chart.defaults.font.family = \"'Inter', sans-serif\";\n    // Removed scale.grid.color as it causes a crash in Chart.js v4\n\n    const formatCurrency = (val) => val != null && !isNaN(val) ? new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(val) : '-';\n    const formatDate = (dateStr) => {\n      if(!dateStr) return '-';\n      const d = new Date(dateStr);\n      return d.toLocaleString('es-ES', { day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' });\n    };\n    const parseDateValue = (value) => {\n      if (!value) return null;\n      const d = new Date(`${value}T00:00:00`);\n      return Number.isNaN(d.getTime()) ? null : d;\n    };\n    const getDateRange = (fromValue, toValue) => {\n      const fromDate = parseDateValue(fromValue);\n      const toDate = parseDateValue(toValue);\n      if (toDate) toDate.setHours(23, 59, 59, 999);\n      return { fromDate, toDate };\n    };\n    const getDurationSeconds = (call) => {\n      const directCandidates = [\n        call?.duracion_llamada,\n        call?.duracion,\n        call?.duracion_segundos,\n        call?.duration_seconds\n      ];\n\n      for (const candidate of directCandidates) {\n        if (candidate === null || candidate === undefined || candidate === '') continue;\n        const n = Number(candidate);\n        if (!Number.isNaN(n) && n >= 0) return Math.round(n);\n      }\n\n      const startRaw = call?.hora_inicio_llamada;\n      const endRaw = call?.hora_fin_llamada;\n      if (!startRaw || !endRaw) return null;\n\n      const start = new Date(startRaw);\n      const end = new Date(endRaw);\n      if (Number.isNaN(start.getTime()) || Number.isNaN(end.getTime())) return null;\n\n      const diffSec = Math.round((end.getTime() - start.getTime()) / 1000);\n      return diffSec >= 0 ? diffSec : null;\n    };\n\n    // ==========================================\n    // UI INTERACTIONS\n    // ==========================================\n    // Tabs\n    document.querySelectorAll('.tab-btn').forEach(btn => {\n      btn.addEventListener('click', () => {\n        document.querySelectorAll('.tab-btn').forEach(b => b.classList.remove('active'));\n        document.querySelectorAll('.tab-content').forEach(c => c.classList.remove('active'));\n        btn.classList.add('active');\n        document.getElementById(btn.dataset.target).classList.add('active');\n      });\n    });\n\n    // Modal\n    const modal = document.getElementById('audit-modal');\n    const closeModalBtn = document.getElementById('close-modal');\n\n    function closeModal() {\n      const audio = document.getElementById('modal-audio');\n      audio.pause();\n      audio.currentTime = 0;\n      modal.classList.remove('active');\n    }\n\n    closeModalBtn.addEventListener('click', closeModal);\n    modal.addEventListener('click', (e) => { if(e.target === modal) closeModal(); });\n\n    // ==========================================\n    // DATA FETCHING\n    // ==========================================\n    async function fetchData() {\n      try {\n        const { data, error } = await supabaseClient\n          .from('solidario_llamadas')\n          .select('*')\n          .order('created_at', { ascending: false });\n\n        if (error) throw error;\n        allCalls = data || [];\n        applyDashboardFilters();\n        applyCallsFilters();\n      } catch (err) {\n        console.error('Error fetching data:', err);\n        document.querySelector('#calls-table tbody').innerHTML = `<tr><td colspan=\"8\" style=\"color:var(--danger); text-align:center;\">Error cargando datos. Revisa la consola.</td></tr>`;\n      }\n    }\n\n    // ==========================================\n    // RENDERING & LOGIC\n    // ==========================================\n    function applyDashboardFilters() {\n      const dashFrom = document.getElementById('dash-date-from').value;\n      const dashTo = document.getElementById('dash-date-to').value;\n      const { fromDate, toDate } = getDateRange(dashFrom, dashTo);\n\n      dashboardFilteredCalls = allCalls.filter(call => {\n        if (!fromDate && !toDate) return true;\n        const callDate = new Date(call.created_at);\n        if (Number.isNaN(callDate.getTime())) return false;\n        if (fromDate && callDate < fromDate) return false;\n        if (toDate && callDate > toDate) return false;\n        return true;\n      });\n\n      updateDashboard();\n    }\n\n    function applyCallsFilters() {\n      const search = document.getElementById('search-input').value.toLowerCase();\n      const from = document.getElementById('table-date-from').value;\n      const to = document.getElementById('table-date-to').value;\n      const { fromDate, toDate } = getDateRange(from, to);\n\n      filteredCalls = allCalls.filter(call => {\n        let matchSearch = true;\n        let matchDate = true;\n\n        if (search) {\n          matchSearch = [call.cedula, call.nombre, call.apellido, call.num_operacion, call.id_llamada]\n            .some(field => String(field || '').toLowerCase().includes(search));\n        }\n\n        if (fromDate || toDate) {\n          const callDate = new Date(call.created_at);\n          if (Number.isNaN(callDate.getTime())) return false;\n          if (fromDate && callDate < fromDate) matchDate = false;\n          if (toDate && callDate > toDate) matchDate = false;\n        }\n        return matchSearch && matchDate;\n      });\n\n      currentPage = 1;\n      renderTable();\n    }\n\n    function updateDashboard() {\n      // KPIs\n      const total = dashboardFilteredCalls.length;\n      let totalMonto = 0;\n      let acceptedCount = 0;\n      let duracionSum = 0;\n      let duracionCount = 0;\n\n      const nomenclatureCounts = {};\n      const datesCounts = {};\n\n      dashboardFilteredCalls.forEach(c => {\n        if (c.monto_promesa) totalMonto += Number(c.monto_promesa);\n        if (String(c.aceptacion).toLowerCase() === 'si') acceptedCount++;\n        const durationSec = getDurationSeconds(c);\n        if (durationSec != null) {\n          duracionSum += durationSec;\n          duracionCount++;\n        }\n\n        // Chart Nomenclatura\n        const nom = c.nomenclatura || 'Desconocido';\n        nomenclatureCounts[nom] = (nomenclatureCounts[nom] || 0) + 1;\n\n        // Chart Fechas\n        if (c.created_at) {\n          const d = c.created_at.split('T')[0];\n          datesCounts[d] = (datesCounts[d] || 0) + 1;\n        }\n      });\n\n      document.getElementById('kpi-total').textContent = total;\n      document.getElementById('kpi-aceptacion').textContent = total > 0 ? Math.round((acceptedCount / total) * 100) + '%' : '0%';\n      document.getElementById('kpi-monto').textContent = formatCurrency(totalMonto);\n      document.getElementById('kpi-duracion').textContent = duracionCount > 0 ? Math.round(duracionSum / duracionCount) + 's' : '0s';\n\n      renderCharts(datesCounts, nomenclatureCounts);\n    }\n\n    function renderCharts(datesObj, nomsObj) {\n      // Sort dates\n      const sortedDates = Object.keys(datesObj).sort();\n      const dateValues = sortedDates.map(d => datesObj[d]);\n\n      if (barChartInstance) barChartInstance.destroy();\n      barChartInstance = new Chart(document.getElementById('barChart'), {\n        type: 'bar',\n        data: {\n          labels: sortedDates,\n          datasets: [{\n            label: 'Volumen de Llamadas',\n            data: dateValues,\n            backgroundColor: '#14B8A6',\n            borderRadius: 6,\n            hoverBackgroundColor: '#2DD4BF'\n          }]\n        },\n        options: {\n          responsive: true, maintainAspectRatio: false,\n          plugins: { legend: { display: false }, title: { display: true, text: 'Llamadas por Día', color: '#fff', font: { size: 16 } } }\n        }\n      });\n\n      const nomLabels = Object.keys(nomsObj);\n      const nomValues = Object.values(nomsObj);\n      \n      if (pieChartInstance) pieChartInstance.destroy();\n      pieChartInstance = new Chart(document.getElementById('pieChart'), {\n        type: 'doughnut',\n        data: {\n          labels: nomLabels,\n          datasets: [{\n            data: nomValues,\n            backgroundColor: ['#14B8A6', '#2DD4BF', '#0EA5E9', '#FCD34D', '#10B981', '#6366F1'],\n            borderWidth: 0,\n            hoverOffset: 4\n          }]\n        },\n        options: {\n          responsive: true, maintainAspectRatio: false,\n          plugins: { legend: { position: 'right' }, title: { display: true, text: 'Distribución por Nomenclatura', color: '#fff', font: { size: 16 } } },\n          cutout: '70%'\n        }\n      });\n    }\n\n    function renderTable() {\n      const tbody = document.querySelector('#calls-table tbody');\n      const start = (currentPage - 1) * PAGE_SIZE;\n      const paginated = filteredCalls.slice(start, start + PAGE_SIZE);\n\n      if (paginated.length === 0) {\n        tbody.innerHTML = `<tr><td colspan=\"8\" style=\"text-align:center; padding: 2rem;\">No se encontraron registros.</td></tr>`;\n        renderPagination();\n        return;\n      }\n\n      const getSentimentBadge = (sent) => {\n        const s = String(sent).toLowerCase();\n        if(s.includes('positi') || s.includes('feliz')) return `<span class=\"badge success\">${sent}</span>`;\n        if(s.includes('negati') || s.includes('enojad') || s.includes('frust')) return `<span class=\"badge danger\">${sent}</span>`;\n        if(s.includes('neutr')) return `<span class=\"badge neutral\">${sent}</span>`;\n        return `<span class=\"badge warning\">${sent||'-'}</span>`;\n      };\n\n      tbody.innerHTML = paginated.map(c => `\n        <tr onclick='openAudit(${JSON.stringify(c).replace(/'/g, \"&#39;\")})'>\n          <td><span style=\"font-family:monospace; color:var(--accent);\">${c.id_llamada || c.id || '-'}</span></td>\n          <td>${c.num_operacion || '-'}</td>\n          <td>${c.nombre || ''} ${c.apellido || ''} <br><small style=\"color:var(--text-muted)\">${c.cedula || '-'}</small></td>\n          <td>${getDurationSeconds(c) != null ? getDurationSeconds(c) + 's' : '-'}</td>\n          <td>${c.codigo_respuesta || '-'}</td>\n          <td>${getSentimentBadge(c.sentimiento)}</td>\n          <td style=\"font-weight:600;\">${formatCurrency(c.monto_promesa)}</td>\n          <td>${formatDate(c.created_at)}</td>\n        </tr>\n      `).join('');\n\n      renderPagination();\n    }\n\n    function renderPagination() {\n      const totalPages = Math.ceil(filteredCalls.length / PAGE_SIZE);\n      const container = document.getElementById('pagination-controls');\n      container.innerHTML = '';\n\n      if(totalPages <= 1) return;\n\n      for (let i = 1; i <= totalPages; i++) {\n        // Simple logic to not show 100 pages, just a few around current\n        if (i === 1 || i === totalPages || (i >= currentPage - 2 && i <= currentPage + 2)) {\n          const btn = document.createElement('button');\n          btn.className = `page-btn ${i === currentPage ? 'active' : ''}`;\n          btn.innerText = i;\n          btn.onclick = () => { currentPage = i; renderTable(); };\n          container.appendChild(btn);\n        } else if (i === currentPage - 3 || i === currentPage + 3) {\n          const dots = document.createElement('span');\n          dots.innerText = '...';\n          dots.style.color = 'var(--text-muted)';\n          dots.style.alignSelf = 'flex-end';\n          container.appendChild(dots);\n        }\n      }\n    }\n\n    window.openAudit = function(call) {\n      document.getElementById('modal-audio').src = call.link_audio_vapi || '';\n      \n      const setEl = (id, val, badgeClass = null) => {\n        const el = document.getElementById(id);\n        if(!badgeClass) {\n          el.textContent = val || '-';\n        } else {\n          el.textContent = val || '-';\n          el.className = `badge ${badgeClass}`;\n        }\n      };\n\n      setEl('m-contacto', call.contactoalo);\n      setEl('m-familiar', call.es_familiar);\n      \n      const accept = String(call.aceptacion).toLowerCase();\n      let badge = 'neutral';\n      if(accept==='si') badge='success'; else if(accept==='no') badge='danger';\n      setEl('m-aceptacion', call.aceptacion, badge);\n\n      setEl('m-nomenclatura', call.nomenclatura);\n      setEl('m-codigo', call.codigo_respuesta);\n      setEl('m-monto', formatCurrency(call.monto_promesa));\n      setEl('m-fechapromesa', call.fecha_promesa ? new Date(call.fecha_promesa).toLocaleDateString() : '-');\n\n      renderTranscript(call.transcripcion_llamada);\n    };\n\n    function renderTranscript(rawText) {\n      const container = document.getElementById('m-transcript');\n      if (!rawText || !rawText.trim()) {\n        container.innerHTML = '<div class=\"chat-empty\">No hay transcripción disponible para esta llamada.</div>';\n        return;\n      }\n\n      const agentIcon = '<svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><rect x=\"3\" y=\"11\" width=\"18\" height=\"11\" rx=\"2\" ry=\"2\"/><path d=\"M7 11V7a5 5 0 0 1 10 0v4\"/><circle cx=\"12\" cy=\"16\" r=\"1\"/></svg>';\n      const userIcon = '<svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path d=\"M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2\"/><circle cx=\"12\" cy=\"7\" r=\"4\"/></svg>';\n\n      const lines = rawText.split('\\n');\n      const messages = [];\n      let current = null;\n\n      lines.forEach(line => {\n        const trimmed = line.trim();\n        if (!trimmed) return;\n        if (trimmed.startsWith('AI:')) {\n          if (current) messages.push(current);\n          current = { role: 'agent', text: trimmed.replace(/^AI:\\s*/, '') };\n        } else if (trimmed.startsWith('User:')) {\n          if (current) messages.push(current);\n          current = { role: 'user', text: trimmed.replace(/^User:\\s*/, '') };\n        } else if (current) {\n          current.text += ' ' + trimmed;\n        } else {\n          // Line without prefix — treat as agent by default\n          current = { role: 'agent', text: trimmed };\n        }\n      });\n      if (current) messages.push(current);\n\n      container.innerHTML = messages.map(m => `\n        <div class=\"chat-bubble ${m.role}\">\n          <div class=\"chat-role\">\n            ${m.role === 'agent' ? agentIcon + ' Agente IA' : userIcon + ' Cliente'}\n          </div>\n          <p>${m.text}</p>\n        </div>\n      `).join('');\n\n      container.scrollTop = 0;\n\n      modal.classList.add('active');\n    };\n\n    // Events\n    document.getElementById('btn-search').addEventListener('click', applyCallsFilters);\n    document.getElementById('btn-refresh-dash').addEventListener('click', () => {\n      applyDashboardFilters();\n      fetchData();\n    });\n    document.getElementById('search-input').addEventListener('keyup', (e) => { if(e.key==='Enter') applyCallsFilters(); });\n\n    // Date Picker Init\n    flatpickr('#dash-date-from, #dash-date-to, #table-date-from, #table-date-to', {\n      dateFormat: 'Y-m-d',\n      altInput: true,\n      altFormat: 'd/m/Y',\n      allowInput: true\n    });\n\n    // Init\n    fetchData();\n    // Auto-refresh every 10 seconds\n    setInterval(fetchData, 10000);\n\n  </script>\n</body>\n</html>\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e891361b-9447-4cf0-8b17-7eef9f2ccad5",
      "name": "Pega tu Codigo Aqui",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        680,
        460
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "90e633d4-1f74-4b47-ba2f-f4a4fec21b33",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        900,
        460
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Pega tu Codigo Aqui",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pega tu Codigo Aqui": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b6a7ab56-a19f-4db4-913b-b235bbaee5dc",
  "id": "Pz7rL493nN9X5aQc",
  "meta": {
    "instanceId": "cb486fb79bc48da7048737cda3a81765c711a3db64f776ab8a7605d3b6a03197"
  },
  "tags": []
}