RESPALDO DE GESTION BASE Y FLUJOS/02052026/FLUJOS/Solidario_CargaDatos.json
{
  "name": "Solidario-CargaDatos",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -6660,
        2780
      ],
      "id": "f4908e9c-d8ad-4b94-99ad-77e3c3ce5f07",
      "name": "SFTP Trigger (Cada 5 min)"
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(x => x.json || {});\n\nconst normalizeName = (r) => String(r.name || r.fileName || r.filename || r.base || '').trim();\nconst normalizePath = (r) => String(r.path || r.fullPath || r.filePath || '').trim();\nconst toTime = (r) => {\n  const v = r.modifiedAt || r.lastModified || r.modifyTime || r.mtime || r.updatedAt || null;\n  const d = v ? new Date(v) : null;\n  return d && !Number.isNaN(d.getTime()) ? d.getTime() : 0;\n};\n\nconst isFile = (r) => {\n  const t = String(r.type || r.fileType || '').toLowerCase();\n  const isDir = Boolean(r.isDirectory) || t === 'd' || t === 'directory';\n  return !isDir;\n};\n\nconst candidates = rows\n  .map(r => ({\n    name: normalizeName(r),\n    path: normalizePath(r),\n    t: toTime(r),\n    raw: r,\n  }))\n  .filter(x => isFile(x.raw))\n  .filter(x => /\\.(xlsx|csv|txt)$/i.test(x.name))\n  .filter(x => !/\\/procesados\\//i.test(x.path) && !/^procesados\\//i.test(x.name));\n\nif (candidates.length === 0) {\n  return [{\n    json: {\n      is_target_file: false,\n      file_name: null,\n      file_ext: null,\n      file_path: null,\n      reason: 'No existe archivo .xlsx, .csv o .txt en ./public_html/BANCO_SOLIDARIO para procesar.',\n    },\n  }];\n}\n\ncandidates.sort((a, b) => b.t - a.t || b.name.localeCompare(a.name));\nconst selected = candidates[0];\nconst ext = selected.name.split('.').pop().toLowerCase();\n\nreturn [{\n  json: {\n    is_target_file: true,\n    file_name: selected.name,\n    file_ext: ext,\n    file_path: selected.path || ('./public_html/BANCO_SOLIDARIO/' + selected.name),\n    processed_path: './public_html/BANCO_SOLIDARIO/procesados/' + selected.name,\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6220,
        2780
      ],
      "id": "1e90f8f8-e8f0-4f35-b289-c1b77a664ccb",
      "name": "Validar Nombre Archivo"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a1a77114-7303-4df5-9995-a5f8458e5419",
              "leftValue": "={{ $json.is_target_file }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -6000,
        2780
      ],
      "id": "1ea9392a-6e76-4a6f-ab3e-86878eb165f1",
      "name": "Es Archivo Objetivo"
    },
    {
      "parameters": {
        "operation": "toJson"
      },
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        -5560,
        2700
      ],
      "id": "16ee0e84-b06d-45f6-9c33-32ce112090ed",
      "name": "Excel a JSON (Primera Hoja)",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const trigger = $items('Validar Nombre Archivo', 0, 0)[0]?.json || {};\nconst fileName = String(trigger.file_name || 'archivo_desconocido');\n\nconst SUPABASE_URL = $env.SUPABASE_URL || 'https://suokpkpzpfvadwemxzfa.supabase.co';\nconst SUPABASE_ANON_KEY =\n  $env.SUPABASE_ANON_KEY ||\n  'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN1b2twa3B6cGZ2YWR3ZW14emZhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTkyNjM0ODgsImV4cCI6MjA3NDgzOTQ4OH0.bSMXRoVj_5vjIftDV1VcjauQQhYhK5AL7fz3VFln72A';\n\nconst all = $input.all();\n\nif (!Array.isArray(all) || all.length === 0) {\n  return [{ json: { status: 'error', file_name: fileName, total_rows: 0, valid_rows: 0, upsert_ok: 0, failed_rows: 1, failed_details: [{ row: '-', num_operacion: null, reason: 'El archivo no tiene filas o no se pudo leer.' }], failed_details_text: '- Fila - | num_operacion: - | motivo: El archivo no tiene filas o no se pudo leer.' } }];\n}\n\nconst COLUMN_MAP = {\n    numerooperacion: 'num_operacion',\n    identificacion: 'cedula',\n    nombres: 'nombre',\n    apellidos: 'apellido',\n    telefono1: 'telefono1',\n    telefono2: 'telefono2',\n    telefono3: 'telefono3',\n    telefono4: 'telefono4',\n    telefono5: 'telefono5',\n    telefono6: 'telefono6',\n    valorcompletocuota: 'monto',\n    fechaproximovencimiento: 'fecha_vencimiento',\n    diasvencido: 'dias_retraso',\n    dias_retraso: 'dias_retraso',\n    producto: 'producto',\n    num_operacion: 'num_operacion',\n    numero_operacion: 'num_operacion',\n    cedula: 'cedula',\n    nombre: 'nombre',\n    apellido: 'apellido',\n    monto: 'monto',\n    fecha_vencimiento: 'fecha_vencimiento',\n};\n\nconst normalizeHeader = (k) => String(k || '').normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').replace(/\\s+/g, '').toLowerCase().trim();\nconst toText = (v) => { if (v === null || v === undefined) return null; const t = String(v).trim(); return t === '' ? null : t; };\nconst toNumber = (v) => { if (v === null || v === undefined || String(v).trim() === '') return null; if (typeof v === 'number') return Number.isFinite(v) ? v : null; const n = Number(String(v).replace(/\\s/g,'').replace(/,/g,'.')); return Number.isFinite(n) ? n : null; };\nconst toDate = (v) => {\n  if (v === null || v === undefined || String(v).trim() === '') return null;\n  const s = String(v).trim();\n  if (/^\\d{4}-\\d{2}-\\d{2}$/.test(s)) return s;\n  if (/^\\d{2}[-/]\\d{2}[-/]\\d{4}$/.test(s)) { const [d,m,y] = s.split(/[-/]/); return y + '-' + m + '-' + d; }\n  const d = new Date(s);\n  return Number.isNaN(d.getTime()) ? null : d.toISOString().slice(0, 10);\n};\n\nconst nowIso = new Date().toISOString();\nconst validRows = [];\nconst failed = [];\n\nfor (let i = 0; i < all.length; i++) {\n  const rawRow = all[i].json || {};\n  const normalizedRow = {};\n  for (const [k, v] of Object.entries(rawRow)) {\n    const norm = normalizeHeader(k);\n    const sqlCol = COLUMN_MAP[norm];\n    if (sqlCol) normalizedRow[sqlCol] = v;\n  }\n\n  const rowNumber = i + 2;\n  const errors = [];\n  const numOperacion = toText(normalizedRow.num_operacion);\n\n  if (!numOperacion) errors.push('num_operacion requerido');\n\n  const record = {\n    num_operacion: numOperacion,\n    cedula: toText(normalizedRow.cedula),\n    nombre: toText(normalizedRow.nombre),\n    apellido: toText(normalizedRow.apellido),\n    telefono1: toText(normalizedRow.telefono1),\n    telefono2: toText(normalizedRow.telefono2),\n    telefono3: toText(normalizedRow.telefono3),\n    telefono4: toText(normalizedRow.telefono4),\n    telefono5: toText(normalizedRow.telefono5),\n    telefono6: toText(normalizedRow.telefono6),\n    monto: toNumber(normalizedRow.monto),\n    fecha_vencimiento: toDate(normalizedRow.fecha_vencimiento),\n    producto: toText(normalizedRow.producto),\n    dias_retraso: toText(normalizedRow.dias_retraso),\n    updated_at: nowIso,\n    estado_flujo: 'PENDIENTE',\n  };\n\n  if (errors.length > 0) {\n    failed.push({ row: rowNumber, num_operacion: numOperacion, reason: errors.join('; ') });\n    continue;\n  }\n  validRows.push(record);\n}\n\nif (failed.length > 0) {\n  const failedText = failed.slice(0, 200).map((f) => '- Fila ' + f.row + ' | num_operacion: ' + (f.num_operacion || '-') + ' | motivo: ' + f.reason).join('\\n');\n  return [{ json: { status: 'error', file_name: fileName, total_rows: all.length, valid_rows: validRows.length, failed_rows: failed.length, failed_details_text: failedText } }];\n}\n\nreturn [{\n  json: {\n    status: 'ok', \n    file_name: fileName,\n    total_rows: all.length,\n    valid_rows: validRows.length,\n    payload: validRows,\n    supabase_url: SUPABASE_URL,\n    supabase_key: SUPABASE_ANON_KEY,\n    file_path: trigger.file_path,\n    processed_path: trigger.processed_path\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5340,
        2700
      ],
      "id": "73070a5d-bc02-4ecc-9664-204941dca8a5",
      "name": "Mapeo + Validacion",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.supabase_url }}/rest/v1/solidario_registros?on_conflict=num_operacion",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.supabase_key }}"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -5080,
        2660
      ],
      "id": "ddbe5c5a-e384-4722-b338-b24ecb66675a",
      "name": "Upsert Supabase (HTTP)",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "35b78785-fb31-4cc3-9a31-d97f980e5b01",
              "leftValue": "={{ $json.error ? 'error' : $('Mapeo + Validacion').item.json.status }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4820,
        2700
      ],
      "id": "efa61cec-3093-4771-8f93-37a029b11019",
      "name": "Resultado OK"
    },
    {
      "parameters": {
        "fromEmail": "noreply@plusservices.ec",
        "toEmail": "mrodriguezegues@gmail.com",
        "subject": "={{ 'Carga EXITOSA solidario_registros - ' + $('Mapeo + Validacion').item.json.file_name }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -4260,
        2660
      ],
      "id": "788e8270-f063-4893-a8da-b5b279d9e71d",
      "name": "Email Exito (SMTP)",
      "credentials": {
        "smtp": {
          "id": "38ETQEZqvJWhsU4o",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "noreply@plusservices.ec",
        "toEmail": "mrodriguezegues@gmail.com",
        "subject": "={{ 'Carga ERROR solidario_registros - ' + $('Mapeo + Validacion').item.json.file_name }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -4580,
        2780
      ],
      "id": "839ad477-ac31-41d3-a2fe-4c56f6d18c29",
      "name": "Email Error (SMTP)",
      "credentials": {
        "smtp": {
          "id": "38ETQEZqvJWhsU4o",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -5780,
        3100
      ],
      "id": "852eb89a-d6f0-47af-8d54-9dc509095a63",
      "name": "Ignorar Archivo"
    },
    {
      "parameters": {
        "protocol": "sftp",
        "operation": "list",
        "path": "./public_html/BANCO_SOLIDARIO"
      },
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        -6440,
        2780
      ],
      "id": "6c16c50c-22a3-4ead-bcb0-da06beb0b713",
      "name": "Listar Archivos SFTP",
      "credentials": {
        "sftp": {
          "id": "vEofEOfYOxdhgSvj",
          "name": "SFTP account"
        }
      }
    },
    {
      "parameters": {
        "protocol": "sftp",
        "path": "={{ $json.file_path }}"
      },
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        -5820,
        2560
      ],
      "id": "a9b8d5b0-e040-4787-88af-c76e54a1d260",
      "name": "Descargar Excel",
      "credentials": {
        "sftp": {
          "id": "vEofEOfYOxdhgSvj",
          "name": "SFTP account"
        }
      }
    },
    {
      "parameters": {
        "protocol": "sftp",
        "operation": "rename",
        "oldPath": "={{ $('Mapeo + Validacion').item.json.file_path }}",
        "newPath": "={{ $('Mapeo + Validacion').item.json.processed_path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        -4540,
        2560
      ],
      "id": "e49160fa-2fdf-4d16-b32f-a7b90f5c0f82",
      "name": "Mover a Procesados SFTP",
      "credentials": {
        "sftp": {
          "id": "vEofEOfYOxdhgSvj",
          "name": "SFTP account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0df8374d-9614-4328-912a-04870fdf7409",
              "leftValue": "={{ $json.file_ext }}",
              "rightValue": "txt",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5580,
        2840
      ],
      "id": "a1f9f0d0-b2b2-407a-a1b2-6ab1c09e26bf",
      "name": "Es TXT"
    },
    {
      "parameters": {
        "jsCode": "const binaryData = await $input.item.binary.data;\nconst text = Buffer.from(binaryData.data, 'base64').toString('utf8');\n\nconst lines = text.split(/\\r?\\n/).filter(l => l.trim() !== '');\nif (lines.length < 2) return [];\n\nconst detectDelimiter = (header) => {\n  if (header.includes('\\t')) return '\\t';\n  if (header.includes(';')) return ';';\n  return ',';\n};\n\nconst delimiter = detectDelimiter(lines[0]);\nconst headers = lines[0].split(delimiter).map(h => h.replace(/^\\uFEFF/, '').trim());\n\nconst rows = [];\nfor (let i = 1; i < lines.length; i++) {\n  const values = lines[i].split(delimiter);\n  const row = {};\n  headers.forEach((h, idx) => {\n    row[h] = values[idx] || '';\n  });\n  rows.push({ json: row });\n}\n\nreturn rows;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5340,
        2840
      ],
      "id": "0dc274a0-73c4-4904-afd1-b6ed28d9cef8",
      "name": "TXT a JSON (Tab)"
    }
  ],
  "pinData": {},
  "connections": {
    "SFTP Trigger (Cada 5 min)": {
      "main": [
        [
          {
            "node": "Listar Archivos SFTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Archivos SFTP": {
      "main": [
        [
          {
            "node": "Validar Nombre Archivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Nombre Archivo": {
      "main": [
        [
          {
            "node": "Es Archivo Objetivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es Archivo Objetivo": {
      "main": [
        [
          {
            "node": "Descargar Excel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ignorar Archivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar Excel": {
      "main": [
        [
          {
            "node": "Es TXT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es TXT": {
      "main": [
        [
          {
            "node": "TXT a JSON (Tab)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Excel a JSON (Primera Hoja)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Excel a JSON (Primera Hoja)": {
      "main": [
        [
          {
            "node": "Mapeo + Validacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TXT a JSON (Tab)": {
      "main": [
        [
          {
            "node": "Mapeo + Validacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapeo + Validacion": {
      "main": [
        [
          {
            "node": "Upsert Supabase (HTTP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Supabase (HTTP)": {
      "main": [
        [
          {
            "node": "Resultado OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resultado OK": {
      "main": [
        [
          {
            "node": "Mover a Procesados SFTP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Error (SMTP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mover a Procesados SFTP": {
      "main": [
        [
          {
            "node": "Email Exito (SMTP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "27ffb2c1-e4a7-4ada-9afc-1ee23ae77a5b",
  "meta": {
    "instanceId": "915a7f7568d882a64f47657d6f3fab09c88f51183cb22a1bfa48ee39cc137bcd"
  },
  "id": "zCxbMdoUbPnK7NeB",
  "tags": []
}